flask
requests
werkzeug
numpy
pandas
matplotlib
librosa
spotipy
pylast
mutagen
audioread
pydub
scikit-learn
tqdm
lxml
beautifulsoup4
pillow
musicbrainzngs
python-dotenv
acoustid
discogs-client
pyacoustid
tinytag
eyeD3
